.link {
    stroke: #ccc;
}

.path-text {
    font: 8px sans-serif;
    pointer-events: none;
    text-align: center;
}

.shadow {
    stroke: #000;
    stroke-width: 1.5px;
    stroke-opacity: .8;
}

.marker {
    stroke: #ccc;
    fill: #ccc;
}

text {
    fill: #fff;
    font: 10px sans-serif;
    pointer-events: none;
    z-index:10;
}

.selected {
    stroke: red;
    stroke-width: 1.5px;
}
