/* main */

body, .console, #output {
    background-color: ghostwhite;
}

.console {
    color: #111;
}

a:link, a:visited {
    color: black;
}

.popup {
    background-color: ghostwhite;
    color: #111;
    border-color: #a9a9a9;
}

code {
	background-color: #EEE;
/*    background-color: #CCC;*/
}

.textblock {
    /*background-color: #AAA;*/
}

.CodeMirror {
    border: 0 none;
    border-top: 1px solid rgba(0, 0, 0, 0.30);
    background: #ffffff;
}

.cm-s-cypher .CodeMirror-gutter {
    background: #f5f5f5;
    color: #111;
}

.cm-s-cypher div.CodeMirror-selected {
    background: #CCC !important;
}

/* 33322B*/

.cm-s-cypher {
    text-shadow: none;
    background: white;
    color: black;
}

.cm-s-cypher span {

}

.cm-s-cypher .CodeMirror-cursor { border-left: 1px solid black !important; }

.button.shareUrl {
    display: none;
}

/* datatable */

table, thead, th, td {
    color: black;
    border: 1px solid black;
}


.even, thead {
    background: whitesmoke;
}

.odd {
    background: white;
}

/* d3 */

.link {
    stroke: #222;
}

.shadow {
    stroke: #EEE;
}

.marker {
    stroke: #222;
    fill: #222;
}

text {
    fill: #111;
}
