body {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Consolas', 'Monaco', Courier, monospace !important;
}

body, html, div, form, input {
    margin: 0;
    font-size: 12px;
}

body {
    height: 99%;
}

.console {
    left: 0;
    right: 0;
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Consolas', 'Monaco', Courier, monospace !important;
    margin: 0;
    border: none;
    padding: 5px;
}

#output {
    overflow-y: auto;
    top: 0;
    height: 100%;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#form, #query_button, #form, .CodeMirror {
	z-index: 100;
}

#execute {
    font-size:40px;
    position:absolute;
    bottom: 0.2em;
    right: 0.2em;
    z-index: 110;
    color: darkmagenta;
}

#form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 64px;
    max-height: 128px;
}

#graph {
    /* display:none; */
    width: 50%;
    height: 90%;
    position: absolute;
    background: none;
    z-index: 1;
    top: 0px;
    right: 15px;

    /*
    filter:alpha(opacity=20);
    -moz-opacity:0.2;
    opacity:0.2;
    */
}

#version {
   display: none;
}

div#stats {
    overflow-y: scroll;
}

pre {
  font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Consolas', 'Monaco', Courier, monospace !important;
}

.popup {
  	font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Consolas', 'Monaco', Courier, monospace !important;
    border: 2px solid #a9a9a9;
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    display: none;
    /*
    width: 80%;
    height: 80%;
    */
    z-index: 50;
    padding: 20px;
}

.btn_pretty {
    z-index: 100;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    background-color: #606060;
    padding: 3px;
    display: inline-block;
    text-decoration: none;
    color: #Fff;
    text-shadow: 1px 1px 1px #2e2e2e;
    filter: dropshadow(color = #2e2e2e, offx = 1, offy = 1);
    font-size: 100%;
    vertical-align: middle;
    cursor: hand;
    cursor: pointer;
}

.btn_pretty:hover {
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.button {
    z-index: 100;
    width: 16px;
    height: 14px;
}

#input {
}

.btn_close {
    z-index: 100;
    position: absolute;
    right: 5px; 
    top:5px;
}

code {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Consolas', 'Monaco', Courier, monospace !important;
}

.welcome {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Consolas', 'Monaco', Courier, monospace !important;
    font-size: 1.2em;
}

h3 {
    margin: 1px;
}

.CodeMirror {
    border: 1px solid #eee;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.CodeMirror, .CodeMirror-scroll {
    height:auto;
}


.CodeMirror-scroll {
    min-height: 64px;
    max-height: 128px;
    overflow-y: scroll;
    overflow-x: auto;
}

.cm-s-cypher.CodeMirror-scroll {
    background: #ffffff;
}

/*
 * Cypher codemirror theme overrides.
*/
.cm-s-neo, #editor .cm-s-neo, .CodeMirror pre {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace !important;
    line-height: 1.3em;
}

#editor .cm-s-neo {
    margin: 0;
    max-height: 128px;
    overflow-y: scroll;
    background: #ffffff;
}

#stats-output {
	overflow-y: scroll;
}
