<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


  <display-name>community-graph</display-name>

  <description>Neo4j Community Graph</description>

  <filter>
    <filter-name>ConsoleApplication</filter-name>
    <filter-class>org.neo4j.community.console.ConsoleFilter</filter-class>
    <init-param>
      <param-name>applicationClass</param-name>
      <param-value>org.neo4j.community.console.ConsoleApplication</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>ShareGraphApplication</filter-name>
    <filter-class>org.neo4j.community.console.ConsoleFilter</filter-class>
    <init-param>
      <param-name>applicationClass</param-name>
      <param-value>org.neo4j.community.console.ShareGraphApplication</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ConsoleApplication</filter-name>
    <url-pattern>/console/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ShareGraphApplication</filter-name>
    <url-pattern>/r/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
      <session-timeout>20</session-timeout>
  </session-config>
  <listener>
      <listener-class>org.neo4j.community.console.SessionHoldingListener</listener-class>
  </listener>
</web-app>
